/* Helpers */
.remove-bottom {margin-bottom: 0 !important;padding-bottom: 0 !important;}
.remove-top {margin-top: 0 !important;padding-top: 0 !important;}
.nomargin,.remove-top-bottom {margin-top: 0 !important;margin-bottom: 0 !important;}

.pull-right,.floatright,.float-right {float:right;}
.pull-left,.floatleft,.float-left {float:left;}

img.pull-left {margin: 0px 10px 0px 0px;}
img.pull-right {margin: 0px 0px 0px 10px;}

.alignleft {text-align: left !important;}
.alignright {text-align: right !important;}
.aligncenter {text-align: center !important;}

ul.none, ul.none li,
ol.none, ol.none li {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.smalltext {font-size: 12px;color:hsl(0, 0%, 50%)}


@media only screen and (max-width: 767px) {
.pull-right,.floatright,.float-right,.pull-left,.floatleft,.float-left,img.pull-left,img.pull-right {float:none;margin: 0 auto 10px auto;}
}

.caps,.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}

.light {font-weight: $font-light !important;}
.lighter {font-weight: $font-lighter !important;}
.bold {font-weight: $font-bold !important;}
.bolder {font-weight: $font-bolder !important;}

.tighten {letter-spacing: -1px;}
.loosen {letter-spacing: 2px;}
.equal {line-height: 100% !important;}

.margin5 {margin:5px !important;}
.margin10 {margin:10px !important;}
.margin20 {margin:20px !important;}
.margin30 {margin:30px !important;}
.margin40 {margin:40px !important;}

.marginv5 {margin:5px 0px !important;}
.marginv10 {margin:10px 0px !important;}
.marginv20 {margin:20px 0px !important;}
.marginv30 {margin:30px 0px !important;}
.marginv40 {margin:40px 0px !important;}

.pad5 {margin:5px;}
.pad10 {margin:10px;}
.pad20 {margin:20px;}
.pad30 {margin:30px;}
.pad40 {margin:40px;}

.padv5 {padding:5px 0px !important;}
.padv10 {padding:10px 0px !important;}
.padv20 {padding:20px 0px !important;}
.padv30 {padding:30px 0px !important;}
.padv40 {padding:40px 0px !important;}

@media only screen and (max-width: 767px) {
  .padv5,.padv10,.padv20,.padv30,.padv40 {padding:10px 0px !important;}
}


img.scale-with-grid {max-width: 100%;height: auto;}

img.feature {
  @include box-shadow(0px 0px 8px hsl(0, 0%, 80%));
  border: 8px solid #fff;
}
.bdr {
  border: 1px solid darken($accent,10%);
  display: block;
}

.rnd {@include border-radius(4px);}

a.underline {text-decoration: underline !important;}
a.nounderline {text-decoration: none !important;}

h1.bordered,h2.bordered,h3.bordered,h4.bordered,h5.bordered {
  border-bottom: 1px solid #eee;
  width: 100%;
}

.dim {background-color: $accent !important;}

a.blacklink {
  color: #000 !important;
  &:hover {
    color: $brand-alt !important;
  }
}
a.hoverblack {
  color: inherit;
  &:hover {
    color: #000 !important;
  }
}
/* Quick Columns */

.one_half { width: 48%; }
.one_third { width: 30.66%; }
.two_thirds { width: 65.33%; }
.one_fourth { width: 22%; }
.three_fourths { width: 74%; }
.one_fifth { width: 16.8%; }
.two_fifth { width: 37.6%; }
.three_fifth { width: 58.4%; }
.four_fifth { width: 79.2%; }
.one_sixth { width: 13.33%; }
.five_sixth { width: 82.67%; }

.one_half,
.one_third,
.two_thirds,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 20px;
	float: left;
}

.last {margin-right:0 !important;}

@media only screen and (max-width: 767px) {
  .one_half,
  .one_third,
  .two_thirds,
  .three_fourths,
  .one_fourth,
  .one_fifth,
  .two_fifth,
  .three_fifth,
  .four_fifth,
  .one_sixth,
  .five_sixth {width: 100% !important;}
  #content a.btn,#content a.btn.rr,#content a.btn.lr,.button {width: 100% !important; @include border-radius(4px);}
}