// Floats
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

img.pull-left,img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}
img.pull-right,img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}

.center {
    margin:0 auto;
    display: block;
    text-align: center;
}

.dim {
    background-color: $accent;
}

// Text Alignment Classes

.text-right,.alignright {
    text-align: right !important;
}
.text-left,.alignleft {
    text-align: left !important;
}
.text-center,.aligncenter {
    text-align: center !important;
}

// Text Styles

.text-normal {
    font-style: normal !important;
}
.text-italic {
    font-style: italic !important;
}

// Weights

.text-light {
    font-weight: lighter !important;
    font-weight: $font-weight-light !important;
}
.text-lighter {
    font-weight: lighter !important;
    font-weight: $font-weight-lighter !important;
}

.text-bold {
    font-weight: bold !important;
    font-weight: $font-weight-bold !important;
}
.text-bolder {
    font-weight: bold !important;
    font-weight: $font-weight-bolder !important;
}
.text-bold-italic {
    font-weight: $font-weight-normal !important;
    font-style: italic !important;
}

span.small,.smalltext {
    @include adjust-font-size-to(13px,4);
}

.caps,.uppercase {
    text-transform: uppercase !important;
}

.lowercase {
    text-transform: lowercase !important;
}

.remove-top {
    margin-top: 0;
    padding-top: 0;
}

.remove-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

// White-Space

.squeeze {
    padding: 0 4em;
}

.squeezemore {
    padding: 0 6em;
}

//  Resonsive images

.scale-with-grid {
  display:block;
  max-width:100%;
  height:auto;
}

// Styled Images

img.feature {
  @include box-shadow(0px 0px 8px hsl(0, 0%, 80%));
  border: 8px solid #fff;
}

img.bdr {
    background-color: #fff;
    border: 1px solid darken($accent,10%);
    padding: 4px;
}

img.rnd {
    @include border-radius(4px);
}


// Arbitrary Margins

.margin5 {margin:5px !important;}
.margin10 {margin:10px !important;}
.margin20 {margin:20px !important;}
.margin30 {margin:30px !important;}
.margin40 {margin:40px !important;}

.marginv5 {margin:5px 0px !important;}
.marginv10 {margin:10px 0px !important;}
.marginv20 {margin:20px 0px !important;}
.marginv30 {margin:30px 0px !important;}
.marginv40 {margin:40px 0px !important;}

.pad5 {margin:5px;}
.pad10 {margin:10px;}
.pad20 {margin:20px;}
.pad30 {margin:30px;}
.pad40 {margin:40px;}

.padv5 {padding:5px 0px !important;}
.padv10 {padding:10px 0px !important;}
.padv20 {padding:20px 0px !important;}
.padv30 {padding:30px 0px !important;}
.padv40 {padding:40px 0px !important;}

@media only screen and (max-width: 767px) {
  .padv5,.padv10,.padv20,.padv30,.padv40 {padding:10px 0px !important;}
}

// Lists

ul.square {
    list-style: square;
    margin-left: 0px;
    padding-left: 20px;
    line-height: 125%;
    li {
        padding: 0 0 10px 0;
    }
}

ul.none, ul.none li, ol.none, ol.none li {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}


/* @group Columns */

.one_half {
    width:48%
}
.one_third {
    width:30.66%
}
.two_thirds {
    width:65.33%
}
.one_fourth {
    width:22%
}
.three_fourths {
    width:74%
}
.one_fifth {
    width:16.8%
}
.two_fifth {
    width:37.6%
}
.three_fifth {
    width:58.4%
}
.four_fifth {
    width:79.2%
}
.one_sixth {
    width:13.33%
}
.five_sixth {
    width:82.67%
}
.one_half,
.one_third,
.two_thirds,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
    position:relative;
    margin-right:4%;
    margin-bottom:10px;
    float:left
}
.last {
    margin-right:0 !important
}
.clear {
    clear:both;
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;height:0
}

@media only screen and (max-width: 767px) {
    .one_half,.one_third,.two_thirds,.three_fourths,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth {
        width:100% !important;
    }
}
