/* Links */

a, a:link {
    color: $link-color;
    &:hover {
    color: $link-hover-color;
    text-decoration: none;
    }
}
.brand {color: $brand !important;}
.brand-alt {color: $brand-alt !important;}

/* Headings */

h1,h2,h3,h4,h5,h6 {
    font-family: $heading-font-family;
}


h1 {
    color: $h1-color;
    font-weight: $font-bolder;
    letter-spacing: -1px;
}

h2 {
    color: $h2-color;
    font-weight: $font-bold;
    letter-spacing: -1px;
}

h3 {
    color: $h3-color;
    font-weight: $font-bold;
}

h4 {
    color: $h4-color;
    font-weight: $font-normal;
}

h5 {
    color: $h5-color;
    font-weight: $font-light;
}

h6 {
    color: $h6-color;
    font-weight: $font-lighter;
}

.emphasis {
    font-family: Sans-Serif;
    @include adjust-font-size-to( 20px );
    color: #1a1a1a;
    font-weight: 300;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

.subheading,.subheading h1,.subheading h2,.subheading h3,.subheading h4 {
    margin: 0px !important;
    padding: 0px !important;
    line-height: 100%;
}

blockquote {
    $blockquote-color: hsl(0, 0%, 93%);
    background-color: $blockquote-color;
    border-left: 4px solid darken($blockquote-color,10%);
    border-bottom: 1px solid darken($blockquote-color,5%);
    padding: 10px 10px 10px 20px;
    margin-top: $base-line-height;
    position: relative;
    font-style: italic;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

blockquote p {
    margin: 10px 0 10px 0;
    font-size: 1.25em;
}
