
// Brand Colors
$brand: #137DBF;
$brand-alt: #6CC655;
$accent: #ECECEC;

// The base font size.
$base-font-size: 16px !default; // Override default set in Compass' Vertical Rhythm partial.

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default; // Override default set in Compass' Vertical Rhythm partial.

// Default font family.
$base-font-family: 'Open Sans', Sans-Serif, Arial, sans-serif;

// Heading font family
$heading-font-family: 'Open Sans', Sans-Serif, Arial, sans-serif;

// Links
$link-color: saturate(lighten($brand,5%),10%);
$link-hover-color: $brand-alt;

// Heading Fonts
$h1-color: #111;
$h2-color: #222;
$h3-color: #333;
$h4-color: #444;
$h5-color: #555;
$h6-color: #666;


// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

$font-weight-normal:	400 !default;
$font-weight-light:	    300 !default;
$font-weight-lighter:	300 !default;
$font-weight-bold:		600 !default;
$font-weight-bolder:	800 !default;


// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: true !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// PIE
$pie-behavior: url("../css/PIE.php");
