@import "variables";
@import "compass";
@import "mixins";
@import "companimation";
// http://mikefowler.me/companimation

// I just keep these here for lazy reference

// 	/* Smaller than standard 960 (devices and browsers) */
// 	@media only screen and (max-width: 959px) {}

// 	/* Tablet Portrait size to standard 960 (devices and browsers) */
// 	@media only screen and (min-width: 768px) and (max-width: 959px) {}

// 	/* All Mobile Sizes (devices and browser) */
// 	@media only screen and (max-width: 767px) {}

// 	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
// 	@media only screen and (min-width: 480px) and (max-width: 767px) {}

// 	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
// 	@media only screen and (max-width: 479px) {}


/* @group Normalize */

	@import "_normalize";

/* @end */

	body {
	  color: #333;
	  background: #fff;
	  font-family: $base-font-family;
	}

	hr {
		background-color: $accent;
		border-collapse: collapse;
		border:none;
		height: 1px;
		margin: 20px auto;
		width: 100%;
		display: inline-block;
	}
	span.c {
		color: #FF69B4;
		background-color: $accent;
		@include border-radius(2px);
		padding: 0 2px;
		line-height: 135%;
	}

/* @end */


/* @group Helpers */

	@import "_typography";

/* @end */


/* @group Helpers */

	@import "_helpers";

/* @end */


/* @group Buttons */



.button span.caption {
	display: block;
	font-size: .85em;
	text-transform: none;
	font-weight: 300;
}

.btn {
  @include border-radius(2px);
  behavior: $pie-behavior;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
  cursor: pointer;
  outline: 0;
  overflow: visible;
  width: auto;
  margin:4px 0px;
  line-height: 100%;
  @include single-transition(all, .25s, linear, 0);
  font-family: $base-font-family;
  border:none;
}

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"],
a.button {
	$buttoncolor: $brand;
	background-color: $buttoncolor;
	text-shadow:0px -1px 0px saturate(darken($buttoncolor,10%),20%);
	color: #fff;
	padding: .65em 1.25em;
	@include background-clip(padding-box);
	@extend .btn;
	&:hover {
		background-color: saturate(lighten($buttoncolor,5%),10%);
		text-shadow:0px 1px 0px $buttoncolor;
		color: lighten($buttoncolor,75%);
	}
	&:active {
		background-color: $buttoncolor;
		@include single-box-shadow( darken($buttoncolor,10%), 0px, 1px, 2px, 0px, inset);
		text-shadow:0px -1px 0px darken($buttoncolor,10%);
	}
	span.caption {
		color: lighten($buttoncolor,50%);
	}
	&::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

a.button.red {
	$buttoncolor: #C60A15;
	background-color: $buttoncolor;
	text-shadow:0px -1px 0px saturate(darken($buttoncolor,10%),20%);
	color: lighten($buttoncolor,65%);
	padding: .65em 1.65em;
	@extend .btn;
	&:hover {
		background-color: saturate(lighten($buttoncolor,5%),10%);
		text-shadow:0px 1px 0px $buttoncolor;
		color: lighten($buttoncolor,75%);
	}
	&:active {
		background-color: $buttoncolor;
		@include single-box-shadow( darken($buttoncolor,10%), 0px, 1px, 2px, 0px, inset);
		text-shadow:0px -1px 0px darken($buttoncolor,10%);
	}
	span.caption {
		color: lighten($buttoncolor,50%);
	}
}


a.button.green {
	$buttoncolor: #579326;
	background-color: $buttoncolor;
	text-shadow:0px -1px 0px saturate(darken($buttoncolor,10%),20%);
	color: lighten($buttoncolor,65%);
	padding: .65em 1.65em;
	@extend .btn;
	&:hover {
		background-color: saturate(lighten($buttoncolor,5%),10%);
		text-shadow:0px 1px 0px $buttoncolor;
		color: lighten($buttoncolor,75%);
	}
	&:active {
		background-color: $buttoncolor;
		@include single-box-shadow( darken($buttoncolor,10%), 0px, 1px, 2px, 0px, inset);
		text-shadow:0px -1px 0px darken($buttoncolor,10%);
	}
	span.caption {
		color: lighten($buttoncolor,50%);
	}
}

a.button.gray,
a.button.grey {
	$buttoncolor: #ccc;
	background-color: $buttoncolor;
	text-shadow: none;
	color: darken($buttoncolor,55%);
	padding: .65em 1.65em;
	@extend .btn;
	&:hover {
		background-color: lighten($buttoncolor,5%);
		color: darken($buttoncolor,55%);
	}
	&:active {
		background-color: $buttoncolor;
		@include single-box-shadow( darken($buttoncolor,10%), 0px, 1px, 2px, 0px, inset);
	}
	span.caption {
		color: lighten($buttoncolor,50%);
	}
}

a.button.black {
	$buttoncolor: #111;
	background-color: $buttoncolor;
	text-shadow:0px -1px 0px darken($buttoncolor,100%);
	color: lighten($buttoncolor,70%);
	padding: .65em 1.65em;
	@extend .btn;
	&:hover {
		background-color: lighten($buttoncolor,15%);
		text-shadow:0px 1px 0px darken($buttoncolor,100%);
		color: lighten($buttoncolor,85%);
	}
	&:active {
		background-color:darken($buttoncolor,85%);
		color: lighten($buttoncolor,100%);
		@include single-box-shadow( darken($buttoncolor,10%), 0px, 1px, 2px, 0px, inset);
	}
	span.caption {
		color: lighten($buttoncolor,50%);
	}
}

.btn.tiny {
	font-size: .75em;
	padding: .5em 1em !important;
}
.btn.small {
	font-size: .85em;
	padding: .5em 1em !important;
}
.btn.large,.btn.big {
	font-size: 1.25em;
	padding: .75em 1.5em !important;
}
.btn.huge {
	font-size: 1.5em;
	padding: .75em 1.75em !important;
	font-weight: $font-bold;
}


.btn.lr {
  @include border-radius(4px 0px 0px 4px);
}
.btn.rr {
  @include border-radius(0px 4px 4px 0px);
}
.btn.nr {
  @include border-radius(0px);
}

/* @end */

/* @group Skeleton Grid */

	@import "_formalize";

/* @end */

/* @group Skeleton Grid */

	@import "_skeleton";

/* @end */